ControlMaster auto
ControlPath ~/.ssh/control-%r@%h:%p
ControlPersist 10m
TCPKeepAlive yes
ServerAliveInterval 20
# Forward SSH Key Agent, this allows to log back into home machines using
# your local private key
ForwardAgent yes
# X11 is overrated
ForwardX11 no
ForwardX11Trusted no
# numbers are not important
CheckHostIP no
# always run compression
Compression yes

# Generic mpp connection, works as 'ssh mpp', 'scp mpp:..' and so forth
Host mpp
    HostName pcbelle15.mpp.mpg.de
    ForwardX11 yes
    ForwardX11Trusted yes

# use with autossh -M 0 -f -- ssh -fN reverse-lmu-mpp to create reverse ssh
# tunnel to connect back to lmu
Host reverse-lmu-mpp
    Hostname 138.246.99.233
    ConnectionAttempts 3
    TCPKeepAlive no
    PasswordAuthentication no
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa
    ExitOnForwardFailure yes
    RemoteForward 22001 localhost:22
    ServerAliveCountMax 3
    ServerAliveInterval 60

Host kuhrios
    Hostname 138.246.99.233
    ForwardX11 yes
    ForwardX11Trusted yes

Host lmu
    Hostname localhost
    Port 22001
    ForwardX11 yes
    ForwardX11Trusted yes
    Compression yes
    # connect using mpp as proxy
    ProxyCommand ssh kuhrios -W %h:%p

Host c2pap
    User ru75gog2
    Hostname c2paplogin.lrz.de
    ForwardX11 yes
    ForwardX11Trusted yes
    ProxyCommand ssh kuhrios -W %h:%p

Host proton
    Hostname 10.155.59.111
    ForwardX11 yes
    ForwardX11Trusted yes

# disable proxy in the one network we have direct access
Match Originalhost kek Exec "iwgetid | grep tsubaki-III"
     ProxyCommand none

Host kek
    Hostname login.cc.kek.jp
    ProxyCommand ssh kuhrios -W %h:%p

Host stash.kuhrios
    Hostname stash.desy.de
    ProxyCommand ssh kuhrios -W %h:%p

Host b2-master
    User b2soft
    HostName b2-master.belle2.org
    ProxyCommand ssh bastion.desy.de -W %h:%p

Host b2-elog2
    User root
    HostName b2-elog2.desy.de
    ProxyCommand ssh bastion.desy.de -W %h:%p

Host naf
    HostName naf-belle12.desy.de

Host cip
    HostName habicht.cip.physik.uni-muenchen.de
    User Martin.Ritter
